@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  /* WebKit browsers like Chrome, Safari */
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}
